/**
 * @copyright	Copyright (C) 2005 - 2015 Open Source Matters, Inc. All rights reserved.
 * @license		GNU General Public License version 2 or later; see LICENSE.txt
 */

/* Common CSS for system debug */
div#system-debug {
	clear: both;
}

#system-debug {
	background-color: #fff;
	color: #000;
	border: 1px dashed silver;
	padding: 10px;
}

#system-debug div.dbg-header {
	background-color: #ddd;
	border: 1px solid #eee;
	font-size: 16px;
}

#system-debug h3 {
	margin: 0;
}

#system-debug a h3 {
	background-color: #ddd;
	color: #000;
	font-size: 14px;
	padding: 5px;
	text-decoration: none;
	margin: 0px;
}

#system-debug .dbg-error a h3 {
	background-color: red;
}

#system-debug a:hover h3,
#system-debug a:focus h3 {
	background-color: #4d4d4d;
	color: #ddd;
	font-size: 14px;
	cursor: pointer;
	text-decoration: none;
}

#system-debug div.dbg-container {
	padding: 10px;
}

#system-debug span.dbg-command {
	color: blue;
	font-weight: bold;
}

#system-debug span.dbg-table {
	color: green;
	font-weight: bold;
}

#system-debug b.dbg-operator {
	color: red;
	font-weight: bold;
}

#system-debug h1 {
	background-color: #2c2c2c;
	color: #fff;
	padding: 10px;
	margin: 0;
	font-size: 16px;
	line-height: 1em;
}

#system-debug h4 {
	font-size: 14px;
	font-weight: bold;
	margin: 5px 0 0 0;
}

#system-debug h5 {
	font-size: 13px;
	font-weight: bold;
	margin: 5px 0 0 0;
}

div#system-debug {
	margin: 5px;
}

#system-debug ol {
	margin-left: 25px;
	margin-right: 25px;
	text-align: left;
	direction: ltr;
}

#system-debug ul {
	list-style: none;
	text-align: left;
	direction: ltr;
}

#system-debug li {
	font-size: 13px;
	margin-bottom: 10px;
}

#system-debug code {
	font-size: 13px;
	text-align: left;
	direction: ltr;
}

#system-debug p {
	font-size: 13px;
}

#system-debug div.dbg-header.dbg-error {
	background-color: red;
}
#system-debug .dbg-warning {
	color: red;
	font-weight: bold;
	background-color: #ffffcc !important;
}

#system-debug .accordion {
	margin-bottom: 0;
}
#system-debug .dbg-noprofile {
	text-decoration: line-through;
}

/* dbg-bars */
#system-debug .alert,
#system-debug .dbg-bars {
	margin-bottom: 10px;
}
#system-debug .dbg-bar-spacer {
	float: left;
	height: 100%;
}
/* dbg-bars-query */
#system-debug .dbg-bars-query .dbg-bar {
	opacity: 0.3;
	height: 12px;
	margin-top: 3px;
}
#system-debug .dbg-bars-query:hover .dbg-bar {
	opacity: 0.6;
	height: 18px;
	margin-top: 0;
}
#system-debug .dbg-bars-query .dbg-bar:hover,
#system-debug .dbg-bars-query .dbg-bar-active,
#system-debug .dbg-bars-query:hover .dbg-bar-active {
	opacity: 1;
	height: 18px;
	margin-top: 0;
}

/* dbg-query-table */
#system-debug table.dbg-query-table {
	margin: 0px 0px 6px;
}
#system-debug table.dbg-query-table th,
#system-debug table.dbg-query-table td {
	padding: 3px 8px;
}

#system-debug .dbg-profile-list .label {
	display: inline-block;
	min-width: 60px;
	text-align: right;
}

#system-debug .dbg-query-memory,
#system-debug .dbg-query-rowsnumber
{
    margin-left: 50px;
}
