#graph_container {
  width: 100%;
  height: 150px;
  margin: 0 0 1em 0;
  display: block;
  text-align: left;
  font-size: 112%;
  font-weight: bold;
  color: #616161;
}

#graph_container table {
  float: left;
  margin-top: 22px;
}


#form_container {
  float: left;
}

#form_container th {
  text-align: center;
}

.row0, .row1 {
  cursor: pointer;
}

.row0:hover, .row1:hover {
  background: #DFDFDF;
}

.active_row, .active_row:hover {
  background: #ccc;
}
