.pieChartContainer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	padding-bottom: 18px;
}

table.pieChart {
	border-collapse: collapse;
	width: 140px;
}

table.pieChart th, table.pieChart td {
	padding: 5px 8px;
	border: 2px solid #fff;
}

table.pieChart th {
	text-align: left;
	background: #efefef;
}

.pieChartWrapper {
	float: left;
	position: relative;
	padding-right: 12px;
}

.pieChartWrapper img {
	position: absolute;
	top: 0;
	left: 0;
}

img {
	border: none;
}

.tool-tip {
	color: #616161;
	width: 110px;
	z-index: 13000;
	background: #333;
	padding: 5px 8px;
}

.tool-title {
	font-weight: bold;
	font-size: 11px;
	margin: 0;
	color: #616161;
}

.tool-text {
	font-size: 11px;
	color: #616161;
}

.clear {
	clear: both;
}
