/**
 * @copyright	Copyright (C) 2005 - 2015 Open Source Matters, Inc. All rights reserved.
 * @license		GNU General Public License version 2 or later; see LICENSE.txt
 */

div.toolbar-list {
	margin-right: 10px;
	float: right;
	text-align: right;
}

div.toolbar-list a {
	color : #808080;
	text-decoration : none;
	display: block;
	float: left;
	border: 1px solid #DDD;
	width: 40px;
	padding: 2px 5px 2px 5px;
}
div.toolbar-list a:hover {
	color : #C64934;
	cursor: pointer;
	border: 1px solid #c24733;
	background-color: #f1e8e6;
	padding: 3px 5px 1px 5px;
}
div.toolbar-list a:active {
	color : #FF9900;
}
