/**
 * @package		Joomla.Administrator
 * @subpackage	com_languages
 * @copyright	Copyright (C) 2005 - 2015 Open Source Matters, Inc. All rights reserved.
 * @license		GNU General Public License version 2 or later; see LICENSE.txt
 */

.overrider-spinner {
	background-image:url(../../system/images/modal/spinner.gif);
	background-repeat:no-repeat;
	background-position:center;
}

#refresh-status{
	display:none;
	height:16px;
	padding-left:25px;
	background-position:left;
}

#results-container{
	display:none;
	padding-bottom:10px;
}
#more-results{
	display:none;
	height:16px;
	padding:10px 0;
}
.row0{
	background-color:#f7f7f7;
}
.row1{
	background-color:#f0f0f0;
	border-top:1px solid #ffffff;
}
.result{
	padding:5px 0px;
	border:1px solid #ffffff;
}
.result:hover{
	background-color:#e8f6fe;
	cursor:pointer;
}
.result-key{
	color:#666666;
	padding-left:5px;
}
.result-string{
	padding-left:25px;
	margin-top:5px;
}
