@import url('//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

[class^="icon-"],
[class*=" icon-"] {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'Flat-UI-Icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

.dropdown-arrow-inverse {
  border-bottom-color: #5ead68 !important;
  border-top-color: #5ead68 !important;
}
body {
  font-family: @body_font;
  font-size: 18px;
  line-height: 1.72222;
  color: @body_fcolor;
  background-color: @body_color;
}
a {
  color: @link_color;
  text-decoration: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
a:hover,
a:focus {
  color: @linkhover_color;
  text-decoration: none;
}
.img-rounded {
  border-radius: 6px;
}
.img-comment {
  font-size: 20px;
  line-height: 1.72222;
  font-style: italic;
  margin: 24px 0;
}
p {
  font-size: 18px;
  line-height: 1.72222;
  margin: 0 0 15px;
}
.lead {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.46428571;
  font-weight: 300;
}
@media (min-width: 768px) {
  .lead {
    font-size: 30.006px;
  }
}
small, .small {
  font-size: 83%;
  line-height: 2.067;
}
.text-muted {
  color: #bdc3c7;
}
.text-inverse {
  color: #ffffff;
}
.text-primary {
  color: #1abc9c;
}
.text-primary:hover {
  color: #15967d;
}
.text-warning {
  color: #f1c40f;
}
.text-warning:hover {
  color: #c19d0c;
}
.text-danger {
  color: #e74c3c;
}
.text-danger:hover {
  color: #b93d30;
}
.text-success {
  color: #2ecc71;
}
.text-success:hover {
  color: #25a35a;
}
.text-info {
  color: #3498db;
}
.text-info:hover {
  color: #2a7aaf;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 700;
  line-height: 1.1;
  color: #5ead68;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small {
  color: #e7e9ec;
}
h1,
h2,
h3 {
  margin-top: 30px;
  margin-bottom: 15px;
}
h4,
h5,
h6 {
  margin-top: 15px;
  margin-bottom: 15px;
}
h6 {
  font-weight: normal;
}
h1,
.h1 {
  font-size: 61px;
}
h2,
.h2 {
  font-size: 53px;
}
h3,
.h3 {
  font-size: 40px;
}
h4,
.h4 {
  font-size: 29px;
}
h5,
.h5 {
  font-size: 29px;
}
h6,
.h6 {
  font-size: 24px;
}
.page-header {
  padding-bottom: 14px;
  margin: 60px 0 30px;
  border-bottom: 1px solid #e7e9ec;
}
ul,
ol {
  margin-bottom: 15px;
}
dl {
  margin-bottom: 30px;
}
dt,
dd {
  line-height: 1.72222;
}
@media (min-width: 768px) {
  .dl-horizontal dt {
    width: 160px;
  }
  .dl-horizontal dd {
    margin-left: 180px;
  }
}
abbr[title],
abbr[data-original-title] {
  border-bottom: 1px dotted #bdc3c7;
}
blockquote {
  border-left: 3px solid #e7e9ec;
  padding: 0 0 0 16px;
  margin: 0 0 30px;
}
blockquote p {
  font-size: 20px;
  line-height: 1.55;
  font-weight: normal;
  margin-bottom: .4em;
}
blockquote small {
  font-size: 18px;
  line-height: 1.72222;
  font-style: italic;
  color: inherit;
}
blockquote small:before {
  content: "";
}
blockquote.pull-right {
  padding-right: 16px;
  padding-left: 0;
  border-right: 3px solid #e7e9ec;
  border-left: 0;
}
blockquote.pull-right small:after {
  content: "";
}
address {
  margin-bottom: 30px;
  line-height: 1.72222;
}
.btn {
  border: none;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border-radius: 4px;
  padding: 10px 15px;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
}
.btn:hover,
.btn:focus {
  color: #000;
}
.btn:active,
.btn.active {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  background-color: #bdc3c7;
  color: rgba(255, 255, 255, 0.75);
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.btn > [class^="fui-"] {
  margin: 0 1px;
  position: relative;
  line-height: 1;
  top: 1px;
}
.btn-xs.btn > [class^="fui-"] {
  font-size: 11px;
  top: 0;
}
.btn-hg.btn > [class^="fui-"] {
  top: 2px;
}
.btn-default {
  color: #ffffff;
  background-color: #bdc3c7;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #ffffff;
  background-color: #cacfd2;
  border-color: #cacfd2;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background: #a1a6a9;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #bdc3c7;
}
.btn-primary {
  color: #ffffff;
  background-color: #5ead68;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #48c9b0;
  border-color: #48c9b0;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background: #16a085;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #1abc9c;
}
.btn-info {
  color: #ffffff;
  background-color: #3498db;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #5dade2;
  border-color: #5dade2;
}
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  background: #2c81ba;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #3498db;
}
.btn-danger {
  color: #ffffff;
  background-color: #e74c3c;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #ec7063;
  border-color: #ec7063;
}
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  background: #c44133;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #e74c3c;
}
.btn-success {
  color: #ffffff;
  background-color: #2ecc71;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #58d68d;
  border-color: #58d68d;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background: #27ad60;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #2ecc71;
}
.btn-warning {
  color: #ffffff;
  background-color: #f1c40f;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #f5d313;
  border-color: #f5d313;
}
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  background: #cda70d;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #f1c40f;
}
.btn-inverse {
  color: #ffffff;
  background-color: #5ead68;
}
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.open .dropdown-toggle.btn-inverse {
  color: #ffffff;
  background-color: #5ead70;
  border-color: #5ead70;
}
.btn-inverse:active,
.btn-inverse.active,
.open .dropdown-toggle.btn-inverse {
  background: #2c3e50;
}
.btn-inverse.disabled,
.btn-inverse[disabled],
fieldset[disabled] .btn-inverse,
.btn-inverse.disabled:hover,
.btn-inverse[disabled]:hover,
fieldset[disabled] .btn-inverse:hover,
.btn-inverse.disabled:focus,
.btn-inverse[disabled]:focus,
fieldset[disabled] .btn-inverse:focus,
.btn-inverse.disabled:active,
.btn-inverse[disabled]:active,
fieldset[disabled] .btn-inverse:active,
.btn-inverse.disabled.active,
.btn-inverse[disabled].active,
fieldset[disabled] .btn-inverse.active {
  background-color: #5ead68;
}
.btn-embossed {
  -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
}
.btn-embossed.active,
.btn-embossed:active {
  -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15);
}
.btn-wide {
  min-width: 140px;
  padding-left: 30px;
  padding-right: 30px;
}
.btn-link {
  color: #16a085;
}
.btn-link:hover,
.btn-link:focus {
  color: #1abc9c;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #bdc3c7;
  text-decoration: none;
}
.btn-hg {
  padding: 13px 20px;
  font-size: 22px;
  line-height: 1.227;
  border-radius: 6px;
}
.btn-lg {
  padding: 10px 19px;
  font-size: 17px;
  line-height: 1.471;
  border-radius: 6px;
}
.btn-sm {
  padding: 9px 13px;
  font-size: 13px;
  line-height: 1.385;
  border-radius: 4px;
}
.btn-xs {
  padding: 6px 9px;
  font-size: 12px;
  line-height: 1.083;
  border-radius: 3px;
}
.btn-tip {
  font-weight: 300;
  padding-left: 10px;
  font-size: 92%;
}
.btn-block {
  white-space: normal;
}

.btn-default .caret {
  border-top-color: #ffffff;
}
.btn-primary .caret,
.btn-success .caret,
.btn-warning .caret,
.btn-danger .caret,
.btn-info .caret {
  border-top-color: #ffffff;
}
.dropup .btn-default .caret {
  border-bottom-color: #ffffff;
}
.dropup .btn-primary .caret,
.dropup .btn-success .caret,
.dropup .btn-warning .caret,
.dropup .btn-danger .caret,
.dropup .btn-info .caret {
  border-bottom-color: #ffffff;
}
.btn-group-xs > .btn {
  padding: 6px 9px;
  font-size: 12px;
  line-height: 1.083;
  border-radius: 3px;
}
.btn-group-sm > .btn {
  padding: 9px 13px;
  font-size: 13px;
  line-height: 1.385;
  border-radius: 4px;
}
.btn-group-lg > .btn {
  padding: 10px 19px;
  font-size: 17px;
  line-height: 1.471;
  border-radius: 6px;
}
.btn-group-gh > .btn {
  padding: 13px 20px;
  font-size: 22px;
  line-height: 1.227;
  border-radius: 6px;
}
.btn-group > .btn + .btn {
  margin-left: 0;
}
.btn-group > .btn + .dropdown-toggle {
  border-left: 2px solid rgba(52, 73, 94, 0.15);
  padding-left: 12px;
  padding-right: 12px;
}
.btn-group > .btn + .dropdown-toggle .caret {
  margin-left: 3px;
  margin-right: 3px;
}
.btn-group > .btn.btn-gh + .dropdown-toggle .caret {
  margin-left: 7px;
  margin-right: 7px;
}
.btn-group > .btn.btn-sm + .dropdown-toggle .caret {
  margin-left: 0;
  margin-right: 0;
}
.dropdown-toggle .caret {
  margin-left: 8px;
}
.btn-group > .btn,
.btn-group > .dropdown-menu,
.btn-group > .popover {
  font-weight: 400;
}
.btn-group:focus .dropdown-toggle {
  outline: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.btn-group.open .dropdown-toggle {
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-toolbar .btn.active {
  color: #ffffff;
}
.btn-toolbar .btn > [class^="fui-"] {
  font-size: 16px;
  margin: 0 4px;
}
.caret {
  border-width: 8px 6px;
  border-bottom-color: #5ead68;
  border-top-color: #5ead68;
  border-style: solid;
  border-bottom-style: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-transform: scale(1.001);
  -ms-transform: scale(1.001);
  transform: scale(1.001);
}
.dropup .caret,
.dropup .btn-lg .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-bottom-width: 8px;
}
.btn-lg .caret {
  border-top-width: 8px;
  border-right-width: 6px;
  border-left-width: 6px;
}

.select {
  display: inline-block;
  margin-bottom: 10px;
}
[class*="span"] > .select[class*="span"] {
  margin-left: 0;
}
.select[class*="span"] .btn {
  width: 100%;
}
.select.select-block {
  display: block;
  float: none;
  margin-left: 0;
  width: auto;
}
.select.select-block:before,
.select.select-block:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.select.select-block:after {
  clear: both;
}
.select.select-block .btn {
  width: 100%;
}
.select .btn {
  width: 220px;
}
.select .btn.btn-hg .filter-option {
  left: 20px;
  right: 40px;
  top: 13px;
}
.select .btn.btn-hg .caret {
  right: 20px;
}
.select .btn.btn-lg .filter-option {
  left: 18px;
  right: 38px;
}
.select .btn.btn-sm .filter-option {
  left: 13px;
  right: 33px;
}
.select .btn.btn-sm .caret {
  right: 13px;
}
.select .btn.btn-xs .filter-option {
  left: 13px;
  right: 33px;
  top: 5px;
}
.select .btn.btn-xs .caret {
  right: 13px;
}
.select .btn .filter-option {
  height: 26px;
  left: 13px;
  overflow: hidden;
  position: absolute;
  right: 33px;
  text-align: left;
  top: 10px;
}
.select .btn .caret {
  position: absolute;
  right: 16px;
  top: 50%;
  margin-top: -3px;
}
.select .btn .dropdown-toggle {
  border-radius: 6px;
}
.select .btn .dropdown-menu {
  min-width: 100%;
}
.select .btn .dropdown-menu dt {
  cursor: default;
  display: block;
  padding: 3px 20px;
}
.select .btn .dropdown-menu li:not(.disabled) > a:hover small {
  color: rgba(255, 255, 255, 0.004);
}
.select .btn .dropdown-menu li > a {
  min-height: 20px;
}
.select .btn .dropdown-menu li > a.opt {
  padding-left: 35px;
}
.select .btn .dropdown-menu li small {
  padding-left: .5em;
}
.select .btn .dropdown-menu li > dt small {
  font-weight: normal;
}
.select .btn > .disabled,
.select .btn .dropdown-menu li.disabled > a {
  cursor: default;
}
.select .caret {
  border-bottom-color: #ffffff;
  border-top-color: #ffffff;
}
textarea {
  font-size: 20px;
  line-height: 24px;
  padding: 5px 11px;
}
label {
  font-weight: normal;
  line-height: 1.9986363100000002em;
}
.form-control:-moz-placeholder {
  color: #b2bcc5;
}
.form-control::-moz-placeholder {
  color: #b2bcc5;
}
.form-control:-ms-input-placeholder {
  color: #b2bcc5;
}
.form-control::-webkit-input-placeholder {
  color: #b2bcc5;
}
.form-control.placeholder {
  color: #b2bcc5;
}
.form-control {
  border: 2px solid #bdc3c7;
  color: #5ead68;
  font-family: @body_font;
  font-size: 15px;
  padding: 8px 12px;
  height: 42px;
  -webkit-appearance: none;
  border-radius: 6px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
}
.form-group.focus .form-control,
.form-control:focus {
  border-color: #1abc9c;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #f4f6f6;
  border-color: #d5dbdb;
  color: #d5dbdb;
  cursor: default;
}
.form-control.flat {
  border-color: transparent;
}
.form-control.flat:hover {
  border-color: #bdc3c7;
}
.form-control.flat:focus {
  border-color: #1abc9c;
}
.input-sm {
  height: 35px;
  padding: 6px 10px;
  font-size: 13px;
  line-height: 1.72222;
  border-radius: 6px;
}
select.input-sm {
  height: 35px;
  line-height: 35px;
}
textarea.input-sm {
  height: auto;
}
.input-lg {
  height: 45px;
  padding: 10px 15px;
  font-size: 17px;
  line-height: 1.72222;
  border-radius: 6px;
}
select.input-lg {
  height: 45px;
  line-height: 45px;
}
textarea.input-lg {
  height: auto;
}
.input-hg {
  height: 53px;
  padding: 10px 16px;
  font-size: 22px;
  line-height: 1.72222;
  border-radius: 6px;
}
select.input-hg {
  height: 53px;
  line-height: 53px;
}
textarea.input-hg {
  height: auto;
}
.has-warning .help-block,
.has-warning .control-label {
  color: #f1c40f;
}
.has-warning .form-control {
  color: #f1c40f;
  border-color: #f1c40f;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.has-warning .form-control:-moz-placeholder {
  color: #f1c40f;
}
.has-warning .form-control::-moz-placeholder {
  color: #f1c40f;
}
.has-warning .form-control:-ms-input-placeholder {
  color: #f1c40f;
}
.has-warning .form-control::-webkit-input-placeholder {
  color: #f1c40f;
}
.has-warning .form-control.placeholder {
  color: #f1c40f;
}
.has-warning .form-control:focus {
  border-color: #f1c40f;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.has-warning .input-group-addon {
  color: #f1c40f;
  border-color: #f1c40f;
  background-color: #ffffff;
}
.has-error .help-block,
.has-error .control-label {
  color: #e74c3c;
}
.has-error .form-control {
  color: #e74c3c;
  border-color: #e74c3c;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.has-error .form-control:-moz-placeholder {
  color: #e74c3c;
}
.has-error .form-control::-moz-placeholder {
  color: #e74c3c;
}
.has-error .form-control:-ms-input-placeholder {
  color: #e74c3c;
}
.has-error .form-control::-webkit-input-placeholder {
  color: #e74c3c;
}
.has-error .form-control.placeholder {
  color: #e74c3c;
}
.has-error .form-control:focus {
  border-color: #e74c3c;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.has-error .input-group-addon {
  color: #e74c3c;
  border-color: #e74c3c;
  background-color: #ffffff;
}
.has-success .help-block,
.has-success .control-label {
  color: #2ecc71;
}
.has-success .form-control {
  color: #2ecc71;
  border-color: #2ecc71;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.has-success .form-control:-moz-placeholder {
  color: #2ecc71;
}
.has-success .form-control::-moz-placeholder {
  color: #2ecc71;
}
.has-success .form-control:-ms-input-placeholder {
  color: #2ecc71;
}
.has-success .form-control::-webkit-input-placeholder {
  color: #2ecc71;
}
.has-success .form-control.placeholder {
  color: #2ecc71;
}
.has-success .form-control:focus {
  border-color: #2ecc71;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.has-success .input-group-addon {
  color: #2ecc71;
  border-color: #2ecc71;
  background-color: #ffffff;
}
.form-group {
  position: relative;
  margin-bottom: 20px;
}
.form-group {
  position: relative;
}
.form-control + .input-icon {
  position: absolute;
  top: 2px;
  right: 2px;
  line-height: 37px;
  vertical-align: middle;
  font-size: 20px;
  color: #b2bcc5;
  background-color: #ffffff;
  padding: 0 12px 0 0;
  border-radius: 6px;
}
.input-hg + .input-icon {
  line-height: 49px;
  padding: 0 16px 0 0;
}
.input-lg + .input-icon {
  line-height: 41px;
  padding: 0 15px 0 0;
}
.input-sm + .input-icon {
  font-size: 18px;
  line-height: 30px;
  padding: 0 10px 0 0;
}
.has-success .input-icon {
  color: #2ecc71;
}
.has-warning .input-icon {
  color: #f1c40f;
}
.has-error .input-icon {
  color: #e74c3c;
}
.form-control[disabled] + .input-icon,
.form-control[readonly] + .input-icon,
fieldset[disabled] .form-control + .input-icon,
.form-control.disabled + .input-icon {
  color: #d5dbdb;
  background-color: #f4f6f6;
}
.input-group-hg > .form-control,
.input-group-hg > .input-group-addon,
.input-group-hg > .input-group-btn > .btn {
  height: 53px;
  padding: 10px 16px;
  font-size: 22px;
  line-height: 1.72222;
  border-radius: 6px;
}
select.input-group-hg > .form-control,
select.input-group-hg > .input-group-addon,
select.input-group-hg > .input-group-btn > .btn {
  height: 53px;
  line-height: 53px;
}
textarea.input-group-hg > .form-control,
textarea.input-group-hg > .input-group-addon,
textarea.input-group-hg > .input-group-btn > .btn {
  height: auto;
}
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  height: 45px;
  padding: 10px 15px;
  font-size: 17px;
  line-height: 1.72222;
  border-radius: 6px;
}
select.input-group-lg > .form-control,
select.input-group-lg > .input-group-addon,
select.input-group-lg > .input-group-btn > .btn {
  height: 45px;
  line-height: 45px;
}
textarea.input-group-lg > .form-control,
textarea.input-group-lg > .input-group-addon,
textarea.input-group-lg > .input-group-btn > .btn {
  height: auto;
}
.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
  height: 35px;
  padding: 6px 10px;
  font-size: 13px;
  line-height: 1.72222;
  border-radius: 6px;
}
select.input-group-sm > .form-control,
select.input-group-sm > .input-group-addon,
select.input-group-sm > .input-group-btn > .btn {
  height: 35px;
  line-height: 35px;
}
textarea.input-group-sm > .form-control,
textarea.input-group-sm > .input-group-addon,
textarea.input-group-sm > .input-group-btn > .btn {
  height: auto;
}
.input-group-addon {
  padding: 10px 12px;
  font-size: 15px;
  color: #ffffff;
  text-align: center;
  background-color: #bdc3c7;
  border: 1px solid #bdc3c7;
  border-radius: 6px;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
}
.input-group-sm .input-group-addon {
  padding: 6px 10px;
  font-size: 13px;
  line-height: 1;
  border-radius: 6px;
}
.input-group-lg .input-group-addon {
  padding: 10px 15px;
  font-size: 17px;
  line-height: 1;
}
.input-group-hg .input-group-addon {
  padding: 10px 16px;
  font-size: 22px;
  line-height: 1;
}
.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.input-group-addon:first-child {
  border-right: 0;
}
.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.input-group-addon:last-child {
  border-left: 0;
}
.form-group.focus .input-group-addon,
.navbar-form.focus .input-group-addon {
  background-color: #1abc9c;
  border-color: #1abc9c;
}
.form-group.focus .input-group-btn > .btn-default + .btn-default,
.navbar-form.focus .input-group-btn > .btn-default + .btn-default {
  border-left-color: #16a085;
}
.form-group.focus .input-group-btn .btn,
.navbar-form.focus .input-group-btn .btn {
  border-color: #1abc9c;
  background-color: #ffffff;
  color: #1abc9c;
}
.form-group.focus .input-group-btn .btn-default,
.navbar-form.focus .input-group-btn .btn-default {
  color: #ffffff;
  background-color: #1abc9c;
}
.form-group.focus .input-group-btn .btn-default:hover,
.navbar-form.focus .input-group-btn .btn-default:hover,
.form-group.focus .input-group-btn .btn-default:focus,
.navbar-form.focus .input-group-btn .btn-default:focus,
.form-group.focus .input-group-btn .btn-default:active,
.navbar-form.focus .input-group-btn .btn-default:active,
.form-group.focus .input-group-btn .btn-default.active,
.navbar-form.focus .input-group-btn .btn-default.active,
.open .dropdown-toggle.form-group.focus .input-group-btn .btn-default,
.open .dropdown-toggle.navbar-form.focus .input-group-btn .btn-default {
  color: #ffffff;
  background-color: #48c9b0;
  border-color: #48c9b0;
}
.form-group.focus .input-group-btn .btn-default:active,
.navbar-form.focus .input-group-btn .btn-default:active,
.form-group.focus .input-group-btn .btn-default.active,
.navbar-form.focus .input-group-btn .btn-default.active,
.open .dropdown-toggle.form-group.focus .input-group-btn .btn-default,
.open .dropdown-toggle.navbar-form.focus .input-group-btn .btn-default {
  background: #16a085;
}
.form-group.focus .input-group-btn .btn-default.disabled,
.navbar-form.focus .input-group-btn .btn-default.disabled,
.form-group.focus .input-group-btn .btn-default[disabled],
.navbar-form.focus .input-group-btn .btn-default[disabled],
fieldset[disabled] .form-group.focus .input-group-btn .btn-default,
fieldset[disabled] .navbar-form.focus .input-group-btn .btn-default,
.form-group.focus .input-group-btn .btn-default.disabled:hover,
.navbar-form.focus .input-group-btn .btn-default.disabled:hover,
.form-group.focus .input-group-btn .btn-default[disabled]:hover,
.navbar-form.focus .input-group-btn .btn-default[disabled]:hover,
fieldset[disabled] .form-group.focus .input-group-btn .btn-default:hover,
fieldset[disabled] .navbar-form.focus .input-group-btn .btn-default:hover,
.form-group.focus .input-group-btn .btn-default.disabled:focus,
.navbar-form.focus .input-group-btn .btn-default.disabled:focus,
.form-group.focus .input-group-btn .btn-default[disabled]:focus,
.navbar-form.focus .input-group-btn .btn-default[disabled]:focus,
fieldset[disabled] .form-group.focus .input-group-btn .btn-default:focus,
fieldset[disabled] .navbar-form.focus .input-group-btn .btn-default:focus,
.form-group.focus .input-group-btn .btn-default.disabled:active,
.navbar-form.focus .input-group-btn .btn-default.disabled:active,
.form-group.focus .input-group-btn .btn-default[disabled]:active,
.navbar-form.focus .input-group-btn .btn-default[disabled]:active,
fieldset[disabled] .form-group.focus .input-group-btn .btn-default:active,
fieldset[disabled] .navbar-form.focus .input-group-btn .btn-default:active,
.form-group.focus .input-group-btn .btn-default.disabled.active,
.navbar-form.focus .input-group-btn .btn-default.disabled.active,
.form-group.focus .input-group-btn .btn-default[disabled].active,
.navbar-form.focus .input-group-btn .btn-default[disabled].active,
fieldset[disabled] .form-group.focus .input-group-btn .btn-default.active,
fieldset[disabled] .navbar-form.focus .input-group-btn .btn-default.active {
  background-color: #1abc9c;
}
.form-group.focus .input-group-btn:first-child .btn,
.navbar-form.focus .input-group-btn:first-child .btn {
  color: #1abc9c;
  border-color: #1abc9c;
}
.input-group .input-group-btn .btn {
  background-color: #ffffff;
  border: 2px solid #bdc3c7;
  border-width: 2px 2px 2px 0;
  color: #bdc3c7;
  margin-left: -2px;
  line-height: 18px;
}
.input-group .input-group-btn .btn-default {
  color: #ffffff;
  background-color: #bdc3c7;
}
.input-group .input-group-btn .btn-default:hover,
.input-group .input-group-btn .btn-default:focus,
.input-group .input-group-btn .btn-default:active,
.input-group .input-group-btn .btn-default.active,
.open .dropdown-toggle.input-group .input-group-btn .btn-default {
  color: #ffffff;
  background-color: #cacfd2;
  border-color: #cacfd2;
}
.input-group .input-group-btn .btn-default:active,
.input-group .input-group-btn .btn-default.active,
.open .dropdown-toggle.input-group .input-group-btn .btn-default {
  background: #a1a6a9;
}
.input-group .input-group-btn .btn-default.disabled,
.input-group .input-group-btn .btn-default[disabled],
fieldset[disabled] .input-group .input-group-btn .btn-default,
.input-group .input-group-btn .btn-default.disabled:hover,
.input-group .input-group-btn .btn-default[disabled]:hover,
fieldset[disabled] .input-group .input-group-btn .btn-default:hover,
.input-group .input-group-btn .btn-default.disabled:focus,
.input-group .input-group-btn .btn-default[disabled]:focus,
fieldset[disabled] .input-group .input-group-btn .btn-default:focus,
.input-group .input-group-btn .btn-default.disabled:active,
.input-group .input-group-btn .btn-default[disabled]:active,
fieldset[disabled] .input-group .input-group-btn .btn-default:active,
.input-group .input-group-btn .btn-default.disabled.active,
.input-group .input-group-btn .btn-default[disabled].active,
fieldset[disabled] .input-group .input-group-btn .btn-default.active {
  background-color: #bdc3c7;
}
.input-group-sm.input-group .input-group-btn .btn {
  line-height: 16px;
}
.input-group .input-group-btn:first-child + .form-control {
  border-left: none !important;
  padding-left: 0;
}
.input-group .input-group-btn:first-child .btn {
  background-color: #ffffff;
  border: 2px solid #bdc3c7;
  border-width: 2px 0 2px 2px;
  color: #bdc3c7;
  line-height: 18px;
}
.input-group .input-group-btn:first-child .btn-default {
  color: #ffffff;
  background-color: #bdc3c7;
}
.input-group .input-group-btn:first-child .btn-default:hover,
.input-group .input-group-btn:first-child .btn-default:focus,
.input-group .input-group-btn:first-child .btn-default:active,
.input-group .input-group-btn:first-child .btn-default.active,
.open .dropdown-toggle.input-group .input-group-btn:first-child .btn-default {
  color: #ffffff;
  background-color: #cacfd2;
  border-color: #cacfd2;
}
.input-group .input-group-btn:first-child .btn-default:active,
.input-group .input-group-btn:first-child .btn-default.active,
.open .dropdown-toggle.input-group .input-group-btn:first-child .btn-default {
  background: #a1a6a9;
}
.input-group .input-group-btn:first-child .btn-default.disabled,
.input-group .input-group-btn:first-child .btn-default[disabled],
fieldset[disabled] .input-group .input-group-btn:first-child .btn-default,
.input-group .input-group-btn:first-child .btn-default.disabled:hover,
.input-group .input-group-btn:first-child .btn-default[disabled]:hover,
fieldset[disabled] .input-group .input-group-btn:first-child .btn-default:hover,
.input-group .input-group-btn:first-child .btn-default.disabled:focus,
.input-group .input-group-btn:first-child .btn-default[disabled]:focus,
fieldset[disabled] .input-group .input-group-btn:first-child .btn-default:focus,
.input-group .input-group-btn:first-child .btn-default.disabled:active,
.input-group .input-group-btn:first-child .btn-default[disabled]:active,
fieldset[disabled] .input-group .input-group-btn:first-child .btn-default:active,
.input-group .input-group-btn:first-child .btn-default.disabled.active,
.input-group .input-group-btn:first-child .btn-default[disabled].active,
fieldset[disabled] .input-group .input-group-btn:first-child .btn-default.active {
  background-color: #bdc3c7;
}
.input-group-sm.input-group .input-group-btn:first-child .btn {
  line-height: 16px;
}
.input-group-btn > .btn-default + .btn-default {
  border-left: 2px solid #bdc3c7;
  margin-left: -4px;
}
.input-group-rounded .form-control:last-child,
.input-group-rounded .input-group-btn:last-child .btn {
  border-radius: 0 20px 20px 0;
}
.input-group-hg.input-group-rounded .form-control:last-child,
.input-group-hg.input-group-rounded .input-group-btn:last-child .btn {
  border-radius: 0 27px 27px 0;
}
.input-group-lg.input-group-rounded .form-control:last-child,
.input-group-lg.input-group-rounded .input-group-btn:last-child .btn {
  border-radius: 0 25px 25px 0;
}
.input-group-rounded .form-control:first-child,
.input-group-rounded .input-group-btn:first-child .btn {
  border-radius: 20px 0 0 20px;
}
.input-group-hg.input-group-rounded .form-control:first-child,
.input-group-hg.input-group-rounded .input-group-btn:first-child .btn {
  border-radius: 27px 0 0 27px;
}
.input-group-lg.input-group-rounded .form-control:first-child,
.input-group-lg.input-group-rounded .input-group-btn:first-child .btn {
  border-radius: 25px 0 0 25px;
}
.checkbox,
.radio {
  margin-bottom: 12px;
  padding-left: 32px;
  position: relative;
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
  font-size: 14px;
  line-height: 1.5;
}
.checkbox input,
.radio input {
  outline: none !important;
}
.checkbox .icons,
.radio .icons {
  color: #bdc3c7;
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
  text-align: center;
  line-height: 21px;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
}
.checkbox .icons .first-icon,
.radio .icons .first-icon,
.checkbox .icons .second-icon,
.radio .icons .second-icon {
  display: inline-table;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
  margin: 0;
  opacity: 1;
  filter: alpha(opacity=100);
}
.checkbox .icons .second-icon,
.radio .icons .second-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}
.checkbox:hover,
.radio:hover {
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
}
.checkbox:hover .first-icon,
.radio:hover .first-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}
.checkbox:hover .second-icon,
.radio:hover .second-icon {
  opacity: 1;
  filter: alpha(opacity=100);
}
.checkbox.checked,
.radio.checked {
  color: #1abc9c;
}
.checkbox.checked .first-icon,
.radio.checked .first-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}
.checkbox.checked .second-icon,
.radio.checked .second-icon {
  opacity: 1;
  filter: alpha(opacity=100);
  color: #1abc9c;
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
}
.checkbox.disabled,
.radio.disabled {
  cursor: default;
  color: #e6e8ea;
}
.checkbox.disabled .icons,
.radio.disabled .icons {
  color: #e6e8ea;
}
.checkbox.disabled .first-icon,
.radio.disabled .first-icon {
  opacity: 1;
  filter: alpha(opacity=100);
}
.checkbox.disabled .second-icon,
.radio.disabled .second-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}
.checkbox.disabled.checked .icons,
.radio.disabled.checked .icons {
  color: #e6e8ea;
}
.checkbox.disabled.checked .first-icon,
.radio.disabled.checked .first-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}
.checkbox.disabled.checked .second-icon,
.radio.disabled.checked .second-icon {
  opacity: 1;
  filter: alpha(opacity=100);
  color: #e6e8ea;
}
.checkbox.primary .icons,
.radio.primary .icons {
  color: #5ead68;
}
.checkbox.primary.checked,
.radio.primary.checked {
  color: #1abc9c;
}
.checkbox.primary.checked .icons,
.radio.primary.checked .icons {
  color: #1abc9c;
}
.checkbox.primary.disabled,
.radio.primary.disabled {
  cursor: default;
  color: #bdc3c7;
}
.checkbox.primary.disabled .icons,
.radio.primary.disabled .icons {
  color: #bdc3c7;
}
.checkbox.primary.disabled.checked .icons,
.radio.primary.disabled.checked .icons {
  color: #bdc3c7;
}
.radio + .radio,
.checkbox + .checkbox {
  margin-top: 10px;
}

.pager {
  background-color: #5ead68;
  border-radius: 6px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  display: inline-block;
}
.pager li:first-child > a,
.pager li:first-child > span {
  border-left: none;
  border-radius: 6px 0 0 6px;
}
.pager li > a,
.pager li > span {
  background: none;
  border: none;
  border-left: 2px solid #2c3e50;
  color: #ffffff;
  padding: 9px 15px 10px;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 0 6px 6px 0;
  line-height: 1.313;
}
.pager li > a:hover,
.pager li > span:hover,
.pager li > a:focus,
.pager li > span:focus {
  background-color: #2c3e50;
}
.pager li > a:active,
.pager li > span:active {
  background-color: #2c3e50;
}
.pager li > a [class*="fui-"] + span,
.pager li > span [class*="fui-"] + span {
  margin-left: 8px;
}
.pager li > a span + [class*="fui-"],
.pager li > span span + [class*="fui-"] {
  margin-left: 8px;
}
.pagination {
  position: relative;
}
@media (max-width: 480px) {
  .pagination {
    display: block;
  }
}
.pagination ul {
  background: #d6dbdf;
  color: #ffffff;
  padding: 0;
  margin: 0;
  display: inline-block;
  border-radius: 6px;
}
@media (max-width: 480px) {
  .pagination ul {
    height: 41px;
    padding: 0 55px 0 52px;
    overflow: auto;
    white-space: nowrap;
    border-radius: 6px;
  }
}
.pagination ul li {
  display: inline-block;
  margin-right: -3px;
  vertical-align: middle;
}
.pagination ul li.active > a,
.pagination ul li.active > span {
  background-color: #1abc9c;
  color: #ffffff;
}
.pagination ul li.active.previous > a,
.pagination ul li.active.next > a,
.pagination ul li.active.previous > span,
.pagination ul li.active.next > span {
  margin: 0;
}
.pagination ul li.active.previous > a,
.pagination ul li.active.next > a,
.pagination ul li.active.previous > span,
.pagination ul li.active.next > span,
.pagination ul li.active.previous > a:hover,
.pagination ul li.active.next > a:hover,
.pagination ul li.active.previous > span:hover,
.pagination ul li.active.next > span:hover,
.pagination ul li.active.previous > a:focus,
.pagination ul li.active.next > a:focus,
.pagination ul li.active.previous > span:focus,
.pagination ul li.active.next > span:focus {
  background-color: #1abc9c;
  color: #ffffff;
}
.pagination ul li:first-child > a,
.pagination ul li:first-child > span {
  border-radius: 6px 0 0 6px;
  border-left: none;
}
.pagination ul li:first-child.previous + li > a,
.pagination ul li:first-child.previous + li > span {
  border-left-width: 0;
}
.pagination ul li:last-child {
  margin-right: 0;
}
.pagination ul li:last-child > a,
.pagination ul li:last-child > span,
.pagination ul li:last-child > a:hover,
.pagination ul li:last-child > span:hover,
.pagination ul li:last-child > a:focus,
.pagination ul li:last-child > span:focus {
  border-radius: 0 6px 6px 0;
}
.pagination ul li.previous > a,
.pagination ul li.next > a,
.pagination ul li.previous > span,
.pagination ul li.next > span {
  border-right: 2px solid #e4e7ea;
  font-size: 16px;
  min-width: auto;
  padding: 12px 17px;
}
.pagination ul li.next > a,
.pagination ul li.next > span {
  border-right: none;
}
@media (max-width: 480px) {
  .pagination ul li.next,
  .pagination ul li.previous {
    background-color: #d6dbdf;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    border-radius: 0 6px 6px 0;
  }
  .pagination ul li.previous {
    left: 0;
    right: auto;
    border-radius: 6px 0 0 6px;
  }
}
.pagination ul li > a,
.pagination ul li > span {
  display: inline-block;
  background: transparent;
  border: none;
  border-left: 2px solid #e4e7ea;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  min-height: 41px;
  min-width: 41px;
  outline: none;
  padding: 12px 10px;
  text-align: center;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}
.pagination ul li > a:hover,
.pagination ul li > span:hover,
.pagination ul li > a:focus,
.pagination ul li > span:focus {
  background-color: #1abc9c;
}
.pagination ul li > a:active,
.pagination ul li > span:active {
  background-color: #1abc9c;
  color: #ffffff;
}
.pagination > .btn.previous,
.pagination > .btn.next {
  margin-right: 8px;
  font-size: 14px;
  line-height: 1.429;
  padding-left: 23px;
  padding-right: 23px;
}
.pagination > .btn.previous [class*="fui-"],
.pagination > .btn.next [class*="fui-"] {
  font-size: 16px;
  margin-left: -2px;
  margin-top: -2px;
}
.pagination > .btn.next {
  margin-left: 8px;
  margin-right: 0;
}
.pagination > .btn.next [class*="fui-"] {
  margin-right: -2px;
  margin-left: 4px;
}
@media (max-width: 480px) {
  .pagination > .btn {
    display: block;
    margin: 0;
    width: 50%;
  }
  .pagination > .btn:first-child {
    border-bottom: 2px solid #dfe2e5;
    border-radius: 6px 0 0;
  }
  .pagination > .btn:first-child.btn-primary {
    border-bottom-color: #48c9b0;
  }
  .pagination > .btn:first-child.btn-danger {
    border-bottom-color: #ec7063;
  }
  .pagination > .btn:first-child.btn-warning {
    border-bottom-color: #f4d03f;
  }
  .pagination > .btn:first-child.btn-success {
    border-bottom-color: #58d68d;
  }
  .pagination > .btn:first-child.btn-info {
    border-bottom-color: #5dade2;
  }
  .pagination > .btn:first-child.btn-inverse {
    border-bottom-color: #5d6d7e;
  }
  .pagination > .btn:first-child > [class*="fui"] {
    margin-left: -20px;
  }
  .pagination > .btn + ul {
    padding: 0;
    text-align: center;
    border-radius: 0 0 6px 6px;
  }
  .pagination > .btn + ul + .btn {
    border-bottom: 2px solid #dfe2e5;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0 6px 0 0;
  }
  .pagination > .btn + ul + .btn.btn-primary {
    border-bottom-color: #48c9b0;
  }
  .pagination > .btn + ul + .btn.btn-danger {
    border-bottom-color: #ec7063;
  }
  .pagination > .btn + ul + .btn.btn-warning {
    border-bottom-color: #f4d03f;
  }
  .pagination > .btn + ul + .btn.btn-success {
    border-bottom-color: #58d68d;
  }
  .pagination > .btn + ul + .btn.btn-info {
    border-bottom-color: #5dade2;
  }
  .pagination > .btn + ul + .btn.btn-inverse {
    border-bottom-color: #5d6d7e;
  }
  .pagination > .btn + ul + .btn > [class*="fui"] {
    margin-right: -20px;
  }
  .pagination ul {
    display: block;
  }
  .pagination ul > li > a {
    border-radius: 0;
  }
}
.pagination-danger ul {
  background-color: #e74c3c;
}
.pagination-danger ul li.previous > a {
  border-right-color: #ef897e;
}
.pagination-danger ul li > a,
.pagination-danger ul li > span {
  border-left-color: #ef897e;
}
.pagination-danger ul li > a:hover,
.pagination-danger ul li > span:hover,
.pagination-danger ul li > a:focus,
.pagination-danger ul li > span:focus {
  background-color: #ec7063;
}
.pagination-danger ul li > a:active,
.pagination-danger ul li > span:active {
  background-color: #c44133;
}
.pagination-danger ul li.active > a,
.pagination-danger ul li.active > span {
  background-color: #c44133;
}
.pagination-danger ul li.pagination-dropdown.dropup .dropdown-arrow {
  border-top-color: #e74c3c;
}
.pagination-success ul {
  background-color: #2ecc71;
}
.pagination-success ul li.previous > a {
  border-right-color: #75dda1;
}
.pagination-success ul li > a,
.pagination-success ul li > span {
  border-left-color: #75dda1;
}
.pagination-success ul li > a:hover,
.pagination-success ul li > span:hover,
.pagination-success ul li > a:focus,
.pagination-success ul li > span:focus {
  background-color: #58d68d;
}
.pagination-success ul li > a:active,
.pagination-success ul li > span:active {
  background-color: #27ad60;
}
.pagination-success ul li.active > a,
.pagination-success ul li.active > span {
  background-color: #27ad60;
}
.pagination-success ul li.pagination-dropdown.dropup .dropdown-arrow {
  border-top-color: #2ecc71;
}
.pagination-warning ul {
  background-color: #f1c40f;
}
.pagination-warning ul li.previous > a {
  border-right-color: #f6d861;
}
.pagination-warning ul li > a,
.pagination-warning ul li > span {
  border-left-color: #f6d861;
}
.pagination-warning ul li > a:hover,
.pagination-warning ul li > span:hover,
.pagination-warning ul li > a:focus,
.pagination-warning ul li > span:focus {
  background-color: #f5d313;
}
.pagination-warning ul li > a:active,
.pagination-warning ul li > span:active {
  background-color: #cda70d;
}
.pagination-warning ul li.active > a,
.pagination-warning ul li.active > span {
  background-color: #cda70d;
}
.pagination-warning ul li.pagination-dropdown.dropup .dropdown-arrow {
  border-top-color: #f1c40f;
}
.pagination-info ul {
  background-color: #3498db;
}
.pagination-info ul li.previous > a {
  border-right-color: #79bbe7;
}
.pagination-info ul li > a,
.pagination-info ul li > span {
  border-left-color: #79bbe7;
}
.pagination-info ul li > a:hover,
.pagination-info ul li > span:hover,
.pagination-info ul li > a:focus,
.pagination-info ul li > span:focus {
  background-color: #5dade2;
}
.pagination-info ul li > a:active,
.pagination-info ul li > span:active {
  background-color: #2c81ba;
}
.pagination-info ul li.active > a,
.pagination-info ul li.active > span {
  background-color: #2c81ba;
}
.pagination-info ul li.pagination-dropdown.dropup .dropdown-arrow {
  border-top-color: #3498db;
}
.pagination-inverse ul {
  background-color: #5ead68;
}
.pagination-inverse ul li.previous > a {
  border-right-color: #798795;
}
.pagination-inverse ul li > a,
.pagination-inverse ul li > span {
  border-left-color: #798795;
}
.pagination-inverse ul li > a:hover,
.pagination-inverse ul li > span:hover,
.pagination-inverse ul li > a:focus,
.pagination-inverse ul li > span:focus {
  background-color: #5ead70;
}
.pagination-inverse ul li > a:active,
.pagination-inverse ul li > span:active {
  background-color: #2c3e50;
}
.pagination-inverse ul li.active > a,
.pagination-inverse ul li.active > span {
  background-color: #2c3e50;
}
.pagination-inverse ul li.pagination-dropdown.dropup .dropdown-arrow {
  border-top-color: #5ead68;
}
.pagination-minimal > ul > li:first-child {
  border-radius: 6px 0 0 6px;
}
.pagination-minimal > ul > li:first-child.previous + li > a,
.pagination-minimal > ul > li:first-child.previous + li > span {
  border-left-width: 5px;
}
.pagination-minimal > ul > li:last-child {
  border-radius: 0 6px 6px 0;
}
.pagination-minimal > ul > li.previous > a,
.pagination-minimal > ul > li.next > a,
.pagination-minimal > ul > li.previous > span,
.pagination-minimal > ul > li.next > span {
  background: transparent;
  border: none;
  border-right: 2px solid #e4e7ea;
  margin: 0 9px 0 0;
  padding: 12px 17px;
  border-radius: 6px 0 0 6px;
}
.pagination-minimal > ul > li.previous > a,
.pagination-minimal > ul > li.next > a,
.pagination-minimal > ul > li.previous > span,
.pagination-minimal > ul > li.next > span,
.pagination-minimal > ul > li.previous > a:hover,
.pagination-minimal > ul > li.next > a:hover,
.pagination-minimal > ul > li.previous > span:hover,
.pagination-minimal > ul > li.next > span:hover,
.pagination-minimal > ul > li.previous > a:focus,
.pagination-minimal > ul > li.next > a:focus,
.pagination-minimal > ul > li.previous > span:focus,
.pagination-minimal > ul > li.next > span:focus {
  border-color: #e4e7ea !important;
}
@media (max-width: 480px) {
  .pagination-minimal > ul > li.previous > a,
  .pagination-minimal > ul > li.next > a,
  .pagination-minimal > ul > li.previous > span,
  .pagination-minimal > ul > li.next > span {
    margin-right: 0;
  }
}
.pagination-minimal > ul > li.next {
  margin-left: 9px;
}
.pagination-minimal > ul > li.next > a,
.pagination-minimal > ul > li.next > span {
  border-left: 2px solid #e4e7ea;
  border-right: none;
  margin: 0;
  border-radius: 0 6px 6px 0;
}
.pagination-minimal > ul > li.active > a,
.pagination-minimal > ul > li.active > span {
  background-color: #ffffff;
  border-color: #ffffff;
  border-width: 2px !important;
  color: #d6dbdf;
  margin: 10px 5px 9px;
}
.pagination-minimal > ul > li.active > a:hover,
.pagination-minimal > ul > li.active > span:hover,
.pagination-minimal > ul > li.active > a:focus,
.pagination-minimal > ul > li.active > span:focus {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #d6dbdf;
}
.pagination-minimal > ul > li.active.previous,
.pagination-minimal > ul > li.active.next {
  border-color: #e4e7ea;
}
.pagination-minimal > ul > li.active.previous {
  margin-right: 6px;
}
.pagination-minimal > ul > li > a,
.pagination-minimal > ul > li > span {
  background: #ffffff;
  border: 5px solid #d6dbdf;
  color: #ffffff;
  line-height: 16px;
  margin: 7px 2px 6px;
  min-width: 0;
  min-height: 16px;
  padding: 0 4px;
  border-radius: 50px;
  -webkit-transition: background .2s ease-out, border-color 0s ease-out, color .2s ease-out;
  transition: background .2s ease-out, border-color 0s ease-out, color .2s ease-out;
}
.pagination-minimal > ul > li > a:hover,
.pagination-minimal > ul > li > span:hover,
.pagination-minimal > ul > li > a:focus,
.pagination-minimal > ul > li > span:focus {
  background-color: #1abc9c;
  border-color: #1abc9c;
  color: #ffffff;
  -webkit-transition: background .2s ease-out, border-color .2s ease-out, color .2s ease-out;
  transition: background .2s ease-out, border-color .2s ease-out, color .2s ease-out;
}
.pagination-minimal > ul > li > a:active,
.pagination-minimal > ul > li > span:active {
  background-color: #16a085;
  border-color: #16a085;
}
.pagination-plain {
  font-size: 16px;
  font-weight: 700;
  list-style-type: none;
  margin: 0 0 20px;
  padding: 0;
}
.pagination-plain > li {
  display: inline;
}
.pagination-plain > li.previous {
  padding-right: 23px;
}
.pagination-plain > li.next {
  padding-left: 20px;
}
.pagination-plain > li.active > a {
  color: #d3d7da;
}
.pagination-plain > li > a {
  padding: 0 5px;
}
@media (max-width: 480px) {
  .pagination-plain {
    height: 50px;
    overflow: hidden;
    text-align: center;
  }
  .pagination-plain > li.previous {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    width: 50%;
  }
  .pagination-plain > li.next {
    float: right;
    margin-top: -50px;
    text-align: right;
    width: 50%;
  }
}
.pagination-dropdown ul {
  min-width: 67px;
  width: auto;
  left: 50%;
  margin-left: -34px;
}
.pagination-dropdown ul li {
  display: block;
  margin-right: 0;
}
.pagination-dropdown ul li:first-child > a,
.pagination-dropdown ul li:first-child > span {
  border-radius: 6px 6px 0 0;
}
.pagination-dropdown ul li:last-child > a,
.pagination-dropdown ul li:last-child > span {
  border-radius: 0 0 6px 6px !important;
}
.pagination-dropdown ul li > a,
.pagination-dropdown ul li > span {
  border-left: none;
  display: block;
  float: none;
  padding: 8px 10px 7px;
  text-align: center;
  min-height: 0;
}
.pagination-dropdown.dropup {
  position: relative;
}
.pagination-dropdown.dropup .dropdown-arrow {
  border-top-color: #d6dbdf;
}
.tooltip {
  font-size: 14px;
  line-height: 1.286;
}
.tooltip.in {
  opacity: 1;
}
.tooltip.top {
  padding-bottom: 9px;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #5ead68;
  border-width: 9px 9px 0;
  bottom: 0;
  margin-left: -9px;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #5ead68;
  border-width: 9px 9px 9px 0;
  margin-top: -9px;
  left: -3px;
}
.tooltip.bottom {
  padding-top: 8px;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #5ead68;
  border-width: 0 9px 9px;
  margin-left: -9px;
  top: -1px;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #5ead68;
  border-width: 9px 0 9px 9px;
  margin-top: -9px;
  right: -3px;
}
.tooltip-inner {
  background-color: #5ead68;
  line-height: 1.286;
  padding: 12px 12px;
  text-align: center;
  width: 183px;
  border-radius: 6px;
}
.tooltip-light.bottom .tooltip-arrow {
  border-bottom-color: #5ead68;
}
.tooltip-light.left .tooltip-arrow {
  border-left-color: #5ead68;
}
.tooltip-light.right .tooltip-arrow {
  border-right-color: #5ead68;
}
.tooltip-light.top .tooltip-arrow {
  border-top-color: #5ead68;
}
.tooltip-light .tooltip-inner {
  background-color: #5ead68;
  color: #fff;
}
.dropdown-menu {
  background-color: #f3f4f5;
  border: none;
  display: block;
  margin-top: 8px;
  opacity: 0;
  padding: 0;
  visibility: hidden;
  width: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.dropdown-menu.typeahead {
  display: none;
  opacity: 1;
  visibility: visible;
  width: auto;
  margin-top: 5px;
  border: 2px solid #1abc9c;
  padding: 5px 0;
  background-color: #ffffff;
  border-radius: 6px;
}
.dropdown-menu.typeahead li a {
  padding: 6px 14px;
}
.dropdown-menu.typeahead li:first-child a,
.dropdown-menu.typeahead li:last-child a {
  padding: 6px 14px;
  border-radius: 0;
}
.open > .dropdown-menu {
  margin-top: 18px !important;
  opacity: 1;
  visibility: visible;
}
.dropdown-menu li:first-child dt + a {
  border-radius: 0;
}
.dropdown-menu li:first-child > a {
  border-radius: 6px 6px 0 0;
  padding-top: 8px;
}
.dropdown-menu li:last-child > a {
  border-radius: 0 0 6px 6px;
  padding-bottom: 10px;
}
.dropdown-menu li.active > a,
.dropdown-menu li.selected > a,
.dropdown-menu li.active > a.highlighted,
.dropdown-menu li.selected > a.highlighted {
  background: #1abc9c;
  color: #ffffff;
}
.dropdown-menu li.active > a:hover,
.dropdown-menu li.selected > a:hover,
.dropdown-menu li.active > a.highlighted:hover,
.dropdown-menu li.selected > a.highlighted:hover,
.dropdown-menu li.active > a:focus,
.dropdown-menu li.selected > a:focus,
.dropdown-menu li.active > a.highlighted:focus,
.dropdown-menu li.selected > a.highlighted:focus {
  background: #16a085;
  color: #ffffff;
}
.dropdown-menu li > a {
  color: rgba(52, 73, 94, 0.75);
  padding: 6px 15px 8px;
  text-decoration: none;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}
.dropdown-menu li > a:before,
.dropdown-menu li > a:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.dropdown-menu li > a:after {
  clear: both;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:active,
.dropdown-menu li > a:focus {
  background: #e1e4e7;
  color: inherit;
  outline: none;
}
.dropdown-menu li > a.highlighted {
  background: #c9cfd4;
  color: #ffffff;
}
.dropdown-menu li > a.highlighted:hover,
.dropdown-menu li > a.highlighted:focus {
  background: #bac1c8;
  color: #ffffff;
}
.dropdown-menu li > a:before {
  float: right;
  margin-top: 3px;
}
.dropdown-menu li dt {
  font-weight: 300;
  margin-bottom: 3px;
  margin-top: 12px;
  padding: 0 15px;
}
@media (max-width: 480px) {
  .dropdown-menu {
    border-radius: 0 0 6px 6px !important;
  }
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  margin-bottom: 8px;
}
.dropup .dropdown-arrow,
.navbar-fixed-bottom .dropdown .dropdown-arrow {
  border-bottom: none;
  border-top: 8px outset #f3f4f5;
  bottom: 100%;
  top: auto;
}
.navbar-fixed-bottom .nav > li > ul:before {
  border-bottom: none;
  border-top: 9px outset #5ead68;
  bottom: 4px;
  top: auto;
}
.open.dropup > .dropdown-menu {
  margin-bottom: 18px;
}
.open.dropup > .dropdown-arrow {
  margin-bottom: 10px;
}
.open.dropup > .dropdown-arrow.dropdown-arrow-inverse {
  border-top-color: #5ead68;
}
.open > .dropdown-arrow {
  margin-top: 9px;
  opacity: 1;
}
.dropdown-arrow {
  border-style: solid;
  border-width: 0 9px 9px 9px;
  border-color: transparent transparent #f3f4f5 transparent;
  height: 0;
  margin-top: 0;
  opacity: 0;
  position: absolute;
  right: 13px;
  top: 100%;
  width: 0;
  z-index: 10;
  -webkit-transform: rotate(360deg);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.dropdown-inverse {
  background-color: #5ead68;
  color: #cccccc;
  padding: 4px 0 6px;
}
.dropdown-inverse li {
  margin: 0 4px -2px;
}
.dropdown-inverse li:first-child > a,
.dropdown-inverse li:last-child > a {
  border-radius: 2px;
  padding-bottom: 7px;
  padding-top: 5px;
}
.dropdown-inverse li:first-child dt + a,
.dropdown-inverse li:last-child dt + a {
  border-radius: 2px;
}
.dropdown-inverse li.active > a,
.dropdown-inverse li.selected > a {
  background: #1abc9c;
  color: #ffffff;
  position: relative;
  z-index: 1;
}
.dropdown-inverse li dt {
  padding-left: 11px;
  padding-right: 11px;
}
.dropdown-inverse li .divider {
  margin-left: 11px;
  margin-right: 11px;
}
.dropdown-inverse li > a {
  border-radius: 2px;
  color: #ffffff;
  padding: 5px 11px 7px;
}
.dropdown-inverse li > a:hover,
.dropdown-inverse li > a:active,
.dropdown-inverse li > a:focus {
  background: #2c3e50;
}
.dropdown-inverse li > a.highlighted {
  background: #526476;
}
.dropdown-inverse li > a.highlighted:hover,
.dropdown-inverse li > a.highlighted:focus {
  background: #677786;
}
.dropdown-inverse li .divider {
  background-color: #526476;
  border-bottom-color: #526476;
}
@media (max-width: 480px) {
  .dropdown-menu li a i[class*="icon-"] {
    display: none;
  }
}
.table {
  font-size: 16px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 9px 25px;
  line-height: 1.231;
  border-top: 2px solid #eef0f0;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th {
  color: #526476;
  border-bottom: 2px solid #eef0f0;
}
.table [class*="fui-"] {
  vertical-align: baseline;
  font-size: 20px;
  margin: -5px 0;
  position: relative;
  top: 2px;
}
.table .checkbox,
.table .radio {
  margin: 0 0 0 -9px;
}
.table .checkbox.no-label,
.table .radio.no-label {
  padding-left: 0;
}
.table .selected-row > td {
  background-color: #f2fbfa;
}
.table img {
  vertical-align: top;
}
.table-bordered {
  border: 2px solid #eef0f0;
  font-size: 14px;
}
.table-bordered > thead > tr th,
.table-bordered > tbody > tr th,
.table-bordered > tfoot > tr th,
.table-bordered > thead > tr td,
.table-bordered > tbody > tr td,
.table-bordered > tfoot > tr td {
  border: 2px solid #eef0f0 !important;
  padding-top: 8px;
  padding-bottom: 8px;
  vertical-align: middle;
}
.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr.selected-row > td,
.table-striped > tbody > tr:nth-child(even) > th,
.table-striped > tbody > tr.selected-row > th {
  background-color: #f9fafb;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: transparent;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #f9fafb;
}
.table tbody tr.success > td,
.table tbody tr > td.success {
  background-color: #ecfaf2;
  border-color: #d5f5e3;
}
.table tbody tr.error > td,
.table tbody tr > td.error,
.table tbody tr.danger > td,
.table tbody tr > td.danger {
  background-color: #fdefed;
  border-color: #fadbd8;
}
.table tbody tr.warning > td,
.table tbody tr > td.warning {
  background-color: #fefae9;
  border-color: #faecb0;
}
.table tbody tr.info > td,
.table tbody tr > td.info {
  background-color: #edf6fc;
  border-color: #d6eaf8;
}
.table-hover tbody tr.success:hover > td {
  background-color: #e4f8ed;
}
.table-hover tbody tr.error:hover > td,
.table-hover tbody tr.danger:hover > td {
  background-color: #fcebe9;
}
.table-hover tbody tr.warning:hover > td {
  background-color: #fdf7e0;
}
.table-hover tbody tr.info:hover > td {
  background-color: #e8f4fb;
}
.label {
  font-size: 72%;
  font-weight: normal;
  padding: .15em .5em .2em;
}
.label[href]:hover,
.label[href]:focus {
  color: #ffffff;
}
.label-default {
  background-color: #ebedef;
  color: #7b8996;
}
.label-default[href] {
  color: #7b8996;
}
.label-default[href]:hover,
.label-default[href]:focus {
  color: #7b8996;
  background-color: #e1e4e7;
}
.label-inverse {
  background-color: #485b6e;
  color: #ffffff;
}
.label-inverse[href] {
  color: #ffffff;
}
.label-inverse[href]:hover,
.label-inverse[href]:focus {
  color: #ffffff;
  background-color: #a4adb7;
}
.label-success {
  background-color: #2ecc71;
  color: #ffffff;
}
.label-success[href] {
  color: #ffffff;
}
.label-success[href]:hover,
.label-success[href]:focus {
  color: #ffffff;
  background-color: #27ad60;
}
.label-important {
  background-color: #e74c3c;
  color: #ffffff;
}
.label-important[href] {
  color: #ffffff;
}
.label-important[href]:hover,
.label-important[href]:focus {
  color: #ffffff;
  background-color: #c44133;
}
.label-warning {
  background-color: #f1c40f;
  color: #ffffff;
}
.label-warning[href] {
  color: #ffffff;
}
.label-warning[href]:hover,
.label-warning[href]:focus {
  color: #ffffff;
  background-color: #cda70d;
}
.label-info {
  background-color: #3498db;
  color: #ffffff;
}
.label-info[href] {
  color: #ffffff;
}
.label-info[href]:hover,
.label-info[href]:focus {
  color: #ffffff;
  background-color: #2c81ba;
}
.label-primary {
  background-color: #1abc9c;
  color: #ffffff;
}
.label-primary[href] {
  color: #ffffff;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  color: #ffffff;
  background-color: #16a085;
}
.badge {
  font-size: 13px;
  font-weight: normal;
  color: #ffffff;
  line-height: 1.615;
  background-color: #d8dce0;
  border-radius: 4px;
  padding: 0 8px;
}
a.list-group-item.active > .badge,
.nav-pills > .active > a > .badge,
.nav-list > .active > a > .badge {
  color: #9aa4af;
  background-color: #ffffff;
}
.alert {
  color: #5ead68;
  padding: 18px 45px 14px 30px;
  text-shadow: none;
  background-color: #f9f8f3;
  border: 2px solid #ebece8;
  font-size: 16px;
  line-height: 1.625;
  border-radius: 6px;
}
.alert a {
  color: #f1c40f;
  font-weight: bold;
}
.alert a:hover {
  text-decoration: underline;
}
.alert a.btn {
  color: #ffffff;
  text-decoration: none;
}
.alert a.btn:active,
.alert a.btn.active {
  color: rgba(255, 255, 255, 0.75);
}
.alert h4 {
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 4px;
}
.alert p {
  font-size: inherit;
  line-height: inherit;
}
.alert .close {
  position: relative;
  top: 3px;
  right: -31px;
  line-height: 18px;
  font-size: 18px;
  color: #5ead68;
}
.alert .btn {
  margin-bottom: 15px;
  margin-right: 15px;
  margin-top: 15px;
}
@media (max-width: 480px) {
  .alert .btn {
    display: block;
    min-width: auto;
    margin-bottom: 10px;
    margin-right: -15px;
  }
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
.alert-info, .alert-message {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}
.alert-error {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

@media (max-width: 767px) {
  .bottom-menu .navbar-brand,
  .bottom-menu .bottom-links {
    margin-bottom: 30px;
  }
  .bottom-menu .navbar-brand {
    padding: 15px;
    float: none;
  }
  .bottom-menu .bottom-links li {
    float: none;
    margin-bottom: 2px;
  }
  .bottom-menu [class*="span"]:last-child .bottom-links {
    margin-bottom: 0;
  }
}
.nav .dropdown-toggle .caret {
  border-bottom-color: #7f8c9a;
  border-left-width: 4px;
  border-right-width: 4px;
  border-top-color: #7f8c9a;
  border-top-width: 6px;
}
.nav-pills > li:first-child > a {
  border-left: none;
  border-radius: 6px 0 0 6px;
}
.nav-pills > li:last-child > a {
  border-radius: 0 6px 6px 0;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover {
  background-color: #16a085;
}
@media (max-width: 480px) {
  .nav-pills > li {
    float: none;
    display: block;
  }
  .nav-pills > li:first-child > a {
    border-radius: 6px 6px 0 0;
  }
  .nav-pills > li:last-child > a {
    border-radius: 0 0 6px 6px;
  }
}
.nav-pills > li > a {
  background-color: #1abc9c;
  border-left: 2px solid #16a085;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 12px 21px 13px;
  border-radius: 0;
}
.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
  background-color: #48c9b0;
}
.nav-pills > li > a:active {
  background-color: #16a085;
}
@media (max-width: 480px) {
  .nav-pills > li > a {
    border-left: none;
    display: block;
  }
}
.nav-pills > li + li {
  margin-left: 0;
}
.nav-tabs {
  margin-bottom: 20px;
  border-bottom-width: 2px;
  border-bottom-color: #e1e4e7;
}
.nav-tabs.nav-append-content {
  border-bottom: none;
  margin-bottom: 0;
}
.nav-tabs.nav-append-content > li.active:first-child:before {
  background-color: #ffffff;
  border-left: 2px solid #e1e4e7;
  content: "";
  height: 6px;
  left: 0;
  position: absolute;
  bottom: -4px;
  width: 6px;
  z-index: 2;
}
.nav-tabs > li {
  margin-bottom: -2px;
  position: relative;
}
.nav-tabs > li.active {
  z-index: 2;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border-color: #e1e4e7;
  border-bottom-color: #ffffff;
  border-width: 2px;
  color: #7f8c9a;
}
.nav-tabs > li.active .dropdown-toggle,
.nav-tabs > li.active .dropdown-toggle:hover,
.nav-tabs > li.active .dropdown-toggle:focus {
  color: #7f8c9a;
}
.nav-tabs > li.active .dropdown-toggle .caret,
.nav-tabs > li.active .dropdown-toggle:hover .caret,
.nav-tabs > li.active .dropdown-toggle:focus .caret {
  border-bottom-color: #7f8c9a;
  border-top-color: #7f8c9a;
}
.nav-tabs > li.open a.dropdown-toggle,
.nav-tabs > li.open.active a.dropdown-toggle,
.nav-tabs > li.open a.dropdown-toggle:hover,
.nav-tabs > li.open.active a.dropdown-toggle:hover {
  background-color: #f3f4f5;
  border-color: #e1e4e7;
  border-bottom-color: transparent;
  color: #7f8c9a;
}
.nav-tabs > li.open a.dropdown-toggle .caret,
.nav-tabs > li.open.active a.dropdown-toggle .caret,
.nav-tabs > li.open a.dropdown-toggle:hover .caret,
.nav-tabs > li.open.active a.dropdown-toggle:hover .caret {
  border-bottom-color: #7f8c9a;
  border-top-color: #7f8c9a;
}
.nav-tabs > li.open .dropdown-menu,
.nav-tabs > li.open.active .dropdown-menu {
  margin-top: -2px;
}
.nav-tabs > li.open.active {
  z-index: 1003;
}
.nav-tabs > li > a {
  border-width: 2px;
  font-size: 14px;
  font-weight: 700;
  padding: 7px 21px 8px;
  color: #7f8c9a;
  border-radius: 6px 6px 0 0;
  -webkit-transition: none;
  transition: none;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  background-color: transparent;
  border-color: transparent;
  border-bottom-color: transparent;
  outline: none;
  color: #1abc9c;
}
.nav-tabs > li .dropdown-toggle {
  position: relative;
  z-index: 1002;
}
.nav-tabs > li .dropdown-toggle:hover .caret,
.nav-tabs > li .dropdown-toggle:focus .caret {
  border-bottom-color: #1abc9c;
  border-top-color: #1abc9c;
}
.nav-tabs > li .dropdown-menu {
  border: 2px solid #e1e4e7;
  margin-top: -10px;
  border-radius: 0 6px 6px 6px;
}
.nav-tabs > li .dropdown-menu li:first-child > a {
  border-radius: 0 4px 0 0;
}
.nav-tabs > li .dropdown-menu li:last-child > a {
  border-radius: 0 0 4px 4px;
}
.nav-tabs > li .dropdown-menu li a {
  border-radius: 0;
}
.nav-tabs > li .open .dropdown-toggle {
  background-color: #f3f4f5;
}
@media (max-width: 480px) {
  .nav-tabs {
    border-bottom: none;
  }
  .nav-tabs > li {
    display: block;
    float: none;
  }
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li.active > a:focus {
    background-color: #1abc9c;
    border: 2px solid #1abc9c;
    color: #ffffff;
  }
  .nav-tabs > li.active > a:before,
  .nav-tabs > li.active > a:hover:before,
  .nav-tabs > li.active > a:focus:before {
    display: none;
  }
  .nav-tabs > li.active:before {
    display: none;
  }
  .nav-tabs > li.dropdown.active > a,
  .nav-tabs > li.dropdown.active > a.dropdown-toggle,
  .nav-tabs > li.dropdown.active > a:hover {
    color: #ffffff;
  }
  .nav-tabs > li.dropdown.active > a .caret,
  .nav-tabs > li.dropdown.active > a.dropdown-toggle .caret,
  .nav-tabs > li.dropdown.active > a:hover .caret {
    border-bottom-color: #ffffff;
    border-top-color: #ffffff;
  }
  .nav-tabs > li.dropdown.active.open > a,
  .nav-tabs > li.dropdown.active.open > a.dropdown-toggle,
  .nav-tabs > li.dropdown.active.open > a:hover {
    color: #7f8c9a;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs > li.dropdown.active.open > a .caret,
  .nav-tabs > li.dropdown.active.open > a.dropdown-toggle .caret,
  .nav-tabs > li.dropdown.active.open > a:hover .caret {
    border-bottom-color: #7f8c9a;
    border-top-color: #7f8c9a;
  }
  .nav-tabs > li > a,
  .nav-tabs > li > a:hover,
  .nav-tabs > li > a:focus {
    border: 2px solid #e1e4e7;
    margin-bottom: 10px;
    margin-right: 0;
    padding: 10px 15px;
    border-radius: 4px;
  }
}
.tab-content {
  border: 2px solid #ddd;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 20px 20px 5px;
  position: relative;
  z-index: 1;
}

.popover {
  background-color: #edeff1;
  border: none;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.popover.right .arrow {
  border-right-color: #edeff1;
  left: -9px;
  margin-top: -9px;
}
.popover.left .arrow {
  border-left-color: #edeff1;
  right: -9px;
  margin-top: -9px;
}
.popover.bottom .arrow {
  border-bottom-color: #edeff1;
  margin-right: -9px;
  top: -9px;
}
.popover.top .arrow {
  border-top-color: #edeff1;
  bottom: -9px;
  margin-left: -9px;
}
.popover .arrow {
  border-width: 9px;
}
.popover .arrow:after {
  display: none;
}
.popover-title {
  background-color: #bcc3ca;
  color: #ffffff;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
  padding: 10px 20px 11px;
}
.popover-content {
  padding: 9px 20px 1px;
}
.popover-content p {
  font-size: 14px;
  line-height: 1.286;
}
.dialog {
  background-color: #edeff1;
  border-top: 2px solid #d6dbdf;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 16px 0 20px;
  position: relative;
  text-align: center;
}
.dialog .btn {
  vertical-align: baseline;
}
.dialog form {
  margin-bottom: 0;
}
.dialog form input,
.dialog form .btn {
  margin-bottom: 0;
  margin-left: 20px;
  vertical-align: top;
}
.dialog form input:first-child,
.dialog form .btn:first-child {
  margin-left: 0;
}
.dialog.dialog-success {
  background-color: #f0faf8;
  border-top-color: #e2edeb;
}
.dialog.dialog-danger {
  background-color: #fdefed;
  border-top-color: #fadbd8;
}
.dialog.dialog-warning {
  background-color: #fefae9;
  border-top-color: #fcf3cf;
}
.dialog.dialog-info {
  background-color: #edf6fc;
  border-top-color: #d6eaf8;
}
.dialog.dialog-inverse {
  background-color: #5ead68;
  border-top-color: #2a3a4b;
  color: #ffffff;
}
@media (max-width: 767px) {
  .dialog {
    padding-left: 20px;
    padding-right: 20px;
  }
  .dialog form .btn,
  .dialog .btn {
    display: block;
    margin: 9px 0;
    min-width: auto;
    width: 100%;
  }
  .dialog form .btn:last-child,
  .dialog .btn:last-child {
    margin-bottom: 0;
  }
  .dialog form .btn + .btn,
  .dialog .btn + .btn {
    margin-top: 18px;
  }
  .dialog form input {
    margin: 9px 0;
  }
}
.modal-backdrop {
  z-index: 1030;
  background-color: #243342;
}
.modal-backdrop.in {
  opacity: 0.95;
  filter: alpha(opacity=95);
}
.modal {
  z-index: 1040;
}
.modal-dialog {
  z-index: 1050;
}
.modal-content {
  width: 624px;
  background-color: #f9fafb;
  border: 2px solid #ebedef;
  border-radius: 7px;
  -webkit-background-clip: border-box;
  -moz-background-clip: border-box;
  background-clip: border-box;
  -webkit-box-shadow: -14px 14px 0 0 rgba(0, 0, 0, 0.35);
  box-shadow: -14px 14px 0 0 rgba(0, 0, 0, 0.35);
}
@media (max-width: 767px) {
  .modal-content {
    width: auto;
  }
}
@media (max-width: 480px) {
  .modal-content {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
.modal-header {
  padding: 17px 19px 15px 24px;
  border-bottom: 1px solid #ebedef;
}
.modal-header .close {
  margin: 5px 0 0;
  padding: 0;
  font-size: 18px;
  line-height: 1;
  color: #5ead68;
}
.modal-title {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
}
.modal-body {
  padding: 20px 24px 20px;
}
.modal-body p {
  font-size: 16px;
  line-height: 1.625;
}
.modal-footer {
  padding: 19px 22px 20px;
  margin-top: 0;
  background-color: #ebedef;
  border-top: none;
  border-radius: 0 0 7px 7px;
}
.modal-footer .btn + .btn {
  margin-left: 12px;
}
@media (max-width: 480px) {
  .modal-footer .btn {
    display: block;
    min-width: auto;
    margin-bottom: 15px;
  }
  .modal-footer .btn:last-child {
    margin-bottom: 0;
  }
  .modal-footer .btn + .btn {
    margin-left: 0;
  }
}
@media screen and (min-width: 768px) {
  .modal-dialog {
    right: auto;
    width: 624px;
  }
}
.last-col {
  overflow: hidden;
}
.ptn,
.pvn,
.pan {
  padding-top: 0;
}
.ptx,
.pvx,
.pax {
  padding-top: 3px;
}
.pts,
.pvs,
.pas {
  padding-top: 5px;
}
.ptm,
.pvm,
.pam {
  padding-top: 10px;
}
.ptl,
.pvl,
.pal {
  padding-top: 20px;
}
.prn,
.phn,
.pan {
  padding-right: 0;
}
.prx,
.phx,
.pax {
  padding-right: 3px;
}
.prs,
.phs,
.pas {
  padding-right: 5px;
}
.prm,
.phm,
.pam {
  padding-right: 10px;
}
.prl,
.phl,
.pal {
  padding-right: 20px;
}
.pbn,
.pvn,
.pan {
  padding-bottom: 0;
}
.pbx,
.pvx,
.pax {
  padding-bottom: 3px;
}
.pbs,
.pvs,
.pas {
  padding-bottom: 5px;
}
.pbm,
.pvm,
.pam {
  padding-bottom: 10px;
}
.pbl,
.pvl,
.pal {
  padding-bottom: 20px;
}
.pln,
.phn,
.pan {
  padding-left: 0;
}
.plx,
.phx,
.pax {
  padding-left: 3px;
}
.pls,
.phs,
.pas {
  padding-left: 5px;
}
.plm,
.phm,
.pam {
  padding-left: 10px;
}
.pll,
.phl,
.pal {
  padding-left: 20px;
}
.mtn,
.mvn,
.man {
  margin-top: 0px;
}
.mtx,
.mvx,
.max {
  margin-top: 3px;
}
.mts,
.mvs,
.mas {
  margin-top: 5px;
}
.mtm,
.mvm,
.mam {
  margin-top: 10px;
}
.mtl,
.mvl,
.mal {
  margin-top: 20px;
}
.mrn,
.mhn,
.man {
  margin-right: 0px;
}
.mrx,
.mhx,
.max {
  margin-right: 3px;
}
.mrs,
.mhs,
.mas {
  margin-right: 5px;
}
.mrm,
.mhm,
.mam {
  margin-right: 10px;
}
.mrl,
.mhl,
.mal {
  margin-right: 20px;
}
.mbn,
.mvn,
.man {
  margin-bottom: 0px;
}
.mbx,
.mvx,
.max {
  margin-bottom: 3px;
}
.mbs,
.mvs,
.mas {
  margin-bottom: 5px;
}
.mbm,
.mvm,
.mam {
  margin-bottom: 10px;
}
.mbl,
.mvl,
.mal {
  margin-bottom: 20px;
}
.mln,
.mhn,
.man {
  margin-left: 0px;
}
.mlx,
.mhx,
.max {
  margin-left: 3px;
}
.mls,
.mhs,
.mas {
  margin-left: 5px;
}
.mlm,
.mhm,
.mam {
  margin-left: 10px;
}
.mll,
.mhl,
.mal {
  margin-left: 20px;
}

/* ========== 1. TYPOGRAPHY & BASELINE GRID ========== */
html {
  webkit-font-smoothing: antialiased;
}
body {
  padding-top: 72px;
  overflow-x: hidden;
	height: 100%;
    background: url('../images/background_sample.gif') repeat;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 60px;
  line-height: 72px;
  margin-bottom: 24px;
}
h3 {
  margin-bottom: 24px;
}
h4 {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 12px;
}
p {
  font-weight: 300;
  margin: 0 0 12px 0;
  padding: 0 0 24px 0;
}
p.lead {
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 0px;
  color: #95a5a6;
}
header {
  margin-bottom: 12px;
  text-align: center;
}
input {
  margin-bottom: 19px;
}
hr {
  margin: 24px 0 47px;
}
/* ========== 2. GENERAL STYLES ========== */

.tooltip-trigger,
.popover-trigger {
  color: #1abc9c;
  border-bottom: dotted 1px;
}
.popover-trigger {
  cursor: pointer;
}
.popover-content {
  padding-bottom: 9px;
}
#error-info,
#contact-error {
  margin-top: 24px;
}
.panel-success > .panel-heading {
  color: #fff;
  background-color: #5EAD68;
  border-color: #d6e9c6;
}
.panel-heading {
  padding: 0;
}
.panel-heading h3 {
  font-size: 22px;
  padding: 0 24px;
  line-height: 48px;
}
.panel-title {
  padding: 6px 12px;
}
.panel-title a {
  display: block;
}
.panel-body {
  padding: 24px;
}
.panel {
  margin-bottom: 48px;
}
input,
textarea {
  border: none !important;
  background-color: #ecf0f1 !important;
}
form .btn {
  margin-top: 19px;
}
.project,
.related-projects {
  padding-bottom: 24px;
}
.project img,
.related-projects img {
  padding-bottom: 24px;
}
.hover {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.hover:hover {
  opacity: 0.9;
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}
.btn,
.btn-group > .btn,
.btn-group > .dropdown-menu,
.btn-group > .popover {
  font-weight: 300;
}
.inline {
  margin-left: 12px;
}
.icon-huge {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.icon-huge img {
  height: 240px;
  width: 240px;
  margin-bottom: 48px;
}

/* ========== 11. CONTACT SECTION ========== */
#faq .panel-group .panel + .panel {
  margin-top: 14px;
}
#faq #accordion {
  margin-bottom: 15px;
}
#faq #accordion .btn {
  /*border-radius: 0;*/
  text-align: left;
}
#faq #accordion .answer {
  padding: 18px 24px 0;
  border-radius: 5px;
  background-color: #ecf0f1;
}
#faq .contact-intro {
  margin-bottom: 24px;
}
#faq .contact-intro img {
  height: 120px;
  width: 120px;
}
#faq .contact-intro .lead {
  padding-top: 24px;
  color: #2c3e50;
}
#faq input,
#faq textarea {
  border: none;
  background-color: #ecf0f1;
}
#faq form .btn {
  margin-top: 19px;
}

/* ========== 14. MEDIA QUERIES ========== */
@media (max-width: 991px) {
  body {
    padding-top: 0;
  }
  #header .navbar .navbar-inner ul li a {
    padding-left: 0;
  }
  #faq {
    text-align: center;
  }
  #faq img {
    margin: 24px auto 0;
    height: 196px !important;
    width: 196px !important;
    display: block;
    text-align: center;
  }
  #faq .alert {
    text-align: left;
  }
}
/* ========== Small devices (tablets, 768px and up) ========== */
@media (max-width: 767px) {
  #header .navbar {
    position: relative;
  }
  #header .navbar .navbar-inner ul {
    width: 75%;
    margin: 0 auto;
    display: block;
    text-align: center;
  }
  #header .navbar .navbar-inner ul li {
    background-color: #ecf0f1;
    text-align: center;
    padding: 12px;
    margin-bottom: 24px;
  }
  #hero {
    text-align: center;
    height: auto;
    background-color: #ecf0f1;
    padding: 48px 0;
  }
  #hero .intro {
    padding: 0;
  }
  #blog ul.comments li.indent-1 {
    margin-left: 48px;
  }
  #blog ul.comments li.indent-2 {
    margin-left: 96px;
  }
  #blog .blog-layout {
    text-align: center;
  }
  #blog .blog-layout img {
    margin: 0 auto;
    display: block;
    text-align: center;
  }
  #blog .blog-item .blog-main,
  #blog .blog-item .comment-form {
    text-align: center;
  }
  .project {
    text-align: center;
  }
}

.jpfblock { 
	padding-top: 20px; 
	padding-bottom: 20px; 
}
footer {
	background-color: @footer_color;
	height: auto;
	min-height: 150px;
	padding-top: 20px;
	color: @footer_fcolor;
	margin-top: 50px;
}
footer a { color: #fff; }

/* ========== Back to top button ========== */
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #2ecc71 url(../images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}

#system-message-container { margin-top: 20px; }

#features {
	padding-top: 50px;
}
.grey { color: #95a5a6; }
.hero h1, .hero h3 { color: #fff; }
#philosophybox { padding-top: 100px; }

.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover {
    background-color: #5EAD68;
    border-color: #5EAD68;
}
.pagination>li>a, .pagination>li>span {
    color: #5EAD68;
}
