div.slogin-clear{
    clear: both;
}

#form-login-remember label {
    cursor: pointer;float:none;
}

#modlgn-remember {
    display: inline-block;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
    width: auto;
}


.button
{
    background: #EEEEEE;
    border: medium none;
    color: #444444;
    display: inline-block;
    letter-spacing: normal;
    line-height: 30px;
    min-height: 30px;
    padding: 0 12px;
	background-color: #00A8E6;
    color: #FFFFFF
}
#modlgn-username
{
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    color: #444444;
    height: 30px;
	width: 100%;
    padding: 4px 6px;

}
.ul-jlslogin
{
	list-style: none outside none;
	padding: 5px 0 0;
	margin: 0;
}

#modlgn-passwd
{
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    color: #444444;
    height: 30px;
    width: 100%;
    padding: 4px 6px;
}

.login-greeting
{
    padding: 0 0 5px;
}
#login-form
{
	padding: 10px 0 0;
}

#form-login-remember label{cursor:pointer}

.userdata #form-login-password label
{
    display: block;
    float: left;
    margin-right: 10px;
    width: 20%;
}

.userdata #form-login-username label
{
    display: block;
    float: left;
    margin-right: 10px;
    width: 20%;
}

.slogin-buttons span {
    background: url(../../media/socials_sprite.png) no-repeat;
    height: 25px;
    width: 100px;
    display:block;
}
.slogin-buttons a, .slogin-buttons a:hover {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-decoration:none;
    float: left;
}
.slogin-buttons a {
    display: block;
    width: 95px;
    padding:5px 10px 5px 10px;
    margin:5px 5px 0 0;
	text-decoration: none;
}

.slogin-buttons a:hover {
    background:#f4f3f2;
}

.slogin-buttons .googleslogin {
    background-position: 0 -100px;
}

.slogin-buttons .odnoklassnikislogin {
    background-position: 0 -140px;
}
.slogin-buttons .vkontakteslogin {
    background-position: 0 -180px;
}
.slogin-buttons .facebookslogin {
    background-position: 0 -220px;
}
.slogin-buttons .mailslogin {
    background-position: 0 -260px;
}
.slogin-buttons .twitterslogin {
    background-position: 0 -300px;
}

.slogin-buttons .yandexslogin {
    background-position: 0 -340px;
}

.slogin-buttons .linkedinslogin {
    background-position: 0 -380px;
}

.slogin-buttons .liveslogin {
    background-position: 0 -420px;
}

.slogin-buttons .uloginslogin {
    background-position: -100px -100px;
	width: 100px !important;
	height: 25px !important;
}

.slogin-buttons .yahooslogin {
    background-position: -100px -180px;
}

.slogin-buttons .wordpressslogin {
    background-position: -100px -220px;
}

.slogin-buttons .instagramslogin {
    background-position: -100px -260px;
}

.slogin-avatar{
    text-align: center;
}
.slogin-avatar img{
	border: 1px solid #c0c0c0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	padding: 0px;
	margin: 0px 0px 10px;
}

#modlgn-username.inputbox {
padding: 0 0 0 5px;
}

#modlgn-passwd.inputbox {
padding: 0 0 0 5px;
}

input.button {
    cursor: pointer;
}

input.button:hover {
    background: #53b5de;
}

.ul-jlslogin {
    padding: 5px 0px 10px;
}
