body {
	font-size: 11px;
}

h2 {
	display: block;
	font-size: 1.5em;
	font-weight: bold;
}

#content {
	color: #666666 !important;
	font-family: Arial, Helvetica, sans-serif;
	margin-right: auto;
	margin-left: auto;
}

#content ul {
	list-style-type: none;
	margin-right: auto;
	margin-left: auto;
}

#content a {
	color: #666666;
	text-decoration: underline;
}

#social-links li {
	padding-top: 10px;
}

.social-button {
	padding-left: 20px;
}

.twitter-button {
	background:
		url(../images/twitter.png)
		no-repeat !important;
}

.facebook-button {
	background:
		url(../images/facebook.png)
		no-repeat !important;
}

.myspace-button {
	background:
		url(../images/myspace.png)
		no-repeat !important;
}

.digg-button {
	background:
		url(../images/digg.png)
		no-repeat !important;
}

.delicious-button {
	background:
		url(../images/delicious.png)
		no-repeat !important;
}

.reddit-button {
	background:
		url(../images/reddit.png)
		no-repeat !important;
}
