#avatar {
    float:left;
    height:161px;
    width:161px;
    border:1px solid #cccccc;
    -moz-border-radius:5px 5px 5px 5px;
    margin: 0px 10px 10px 0px;
	position: relative;
}
#avatarimg {
    margin: 3px;
    width: 155px;
    height: 155px;
}
#username {
    font-weight:bold;
    font-size:22px;
}

.lbl {
    font-weight:bold;
}
.usertable tr td {
    height:25px;
    border-color:#FFFFFF #FFFFFF #DDDDDD;
    border-style:solid solid dashed;
    border-width:0 0 1px 1px;
    font-size:14px;
}
.usertable {
    margin-top:10px;
}
#socialStuff {
	float: right;
	width: 500px;
	margin-bottom: 20px;
}

.clear-both {
	clear: both;
}

#userInfo {
	float: left;
}

#hotness {
	float: left;
	margin-right: 25px;
}
#hotnessRatingStars {
	background: url('../images/subscriber/star.png') repeat-x;
	display: inline-block;
	height: 14px;
    position: relative;
    top: 2px;
}

#kloutScore {
	background: url('../images/subscriber/klout-logo.png') no-repeat;
	width: 76px;
	height: 35px;
	position: absolute;
	right: -9px;
	bottom: 10px;
}

#kloutScore span {
	display: block;
	position: absolute;
	font-weight: bold;
	font-size: 20px;
	right: 46px;
	top: 2px;
}

#kloutScore a span {
	color: #000;
}


#socialTab p img {
	vertical-align: middle;
}

dl.tabs dt {
	background: -moz-linear-gradient(center top , #E4E2CC, #F5F1E6) !important;
	-moz-border-radius: 5px 5px 0 0;
	-web-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	border: none !important;
}
dl.tabs dt#social {
	margin-left: 0px;
}
dl.tabs dt.open {
	font-weight: bold;
	border-bottom: none!important;
}
dl.tabs dt.closed {
	background: -moz-linear-gradient(center top , #F5F1E6, #E4E2CC) !important;

}
div.current {
	-moz-border-radius: 0 0 5px 5px;
	-web-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	background: #F5F1E6;
	border: none !important;
}

.groupLeft {
	float: left;
	width: 35%;
}

.ratings {
	float: left;
}

.ratingBG {
	display: inline-block;
    position: relative;
    top: 2px;
}

.twitter-links {
	float: right;
}

.twitter-stuff {
	width: 100%;
}
