#templateEditor{
	width: 100%;
}

#preview {
	width: 64%;
	float:left;
	overflow: auto;
	border: 7px double #616161;
}

#preview iframe#previewIframe {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

#optionsTitle {
	float:left;
	margin-left:10px;
	width:auto;
	color: #555555;
}

#options {
	color: #555555;
	width: 34%;
	display: block;
	float: right;
	background-color: #f1f1f1;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	overflow: hidden;
}

#options .small {
    font-size: 11px;
    position: relative;
    top: -4px;
}

*:focus {
	outline: none;
}

.draggable, .draggable label {
	cursor: move;
}

.editable {
	cursor: pointer;
}

#phPosition {
	min-width: 200px;
}
#phOptions {
	display: none;
}
ul#placeholders {
	list-style-type: none;
	margin: 5px 0;
	padding: 0 0 0 10px;
}

ul#placeholders li {
    padding-bottom: 3px;
}

#options input[type=checkbox] {
    margin: 0;
}

#options label {
    display: inline-block;
    padding: 0 15px 0 5px;
}

#font {
	width: 100%;
}
#fontCustom {
    margin-top: 5px;
}

.colorPreviewBox {
	border: 1px solid #616161;
	padding: 2px;
	width: 40px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.colorPreview {
	width: 40px;
	height: 1.4em;
	cursor: pointer;
}

input[type="text"].colorValue {
    margin-bottom: 0;
    width: 60px;
}

.optionsHeader {
    cursor: pointer;
	background: url(../images/optionsHeader.png) no-repeat 0 0;
	height: 20px;
	font-size: 12px;
	font-weight: bold;
	padding: 6px 0 0 10px;
	-webkit-border-radius: 0 10px 10px 0;
	-moz-border-radius: 0 10px 10px 0;
	border-radius: 0 10px 10px 0;
}
.optionsHeader_r {
	background: url(../images/optionsHeader_r.png) no-repeat 0 0;
	height: 26px;
	width: 24px;
	float:right;
	position:relative;
	top:-6px;
}
.optionsHeader_rc {
	background: url(../images/optionsHeader_rc.png) no-repeat 0 0;
}

.optionsContent {
	padding: 10px;
}

.color_samples {
	float: left;
}

#uploadLogo {
	display: inline-block;
}

#socialIconUploaders .qq-upload-button {
	width:32px;
	height: 32px;
	float:left;
	padding: 0;
	margin: 0 10px 0 0;
	text-indent: -5000px;
}

#socialIconUploaders .imageUploader {
    float: left
}
#twitterUpload .qq-upload-button {
	background: url(../images/addtw.png) no-repeat 0 0;
	z-index:3;
}
#facebookUpload .qq-upload-button {
	background: url(../images/addfb.png) no-repeat 0 0;
	z-index:2;
}
#myspaceUpload .qq-upload-button {
	background: url(../images/addms.png) no-repeat 0 0;
	z-index:1;
}
#twitterUpload .qq-upload-list, #facebookUpload .qq-upload-list, #myspaceUpload .qq-upload-list {
	display:none;
}

.qq-upload-button-hover { cursor: pointer; }
.qq-upload-button-focus {outline:0px dotted black;}

#logoFilename {
	display:inline-block;
	font-size:12px;
	font-weight:bold;
	margin-left:10px;
	position:relative;
	top:-8px;
}

#logoSizeInfo {
    margin-bottom: 5px;
}

.JMbuttonOrange,
.qq-upload-button {
    cursor: pointer;
    font-size: 14px;
    margin: 0;
    padding: 4px 13px;
    float: none;
}

.browse{ background-position: 0 0; width: 99px; height: 25px; }
.reload{ background-position: 0 -105px; width: 64px; height: 25px; }
.shuffle{ background-position: 0 -175px; width: 122px; height: 25px; }

#toggleSelect {
	background: url(../images/tick_16.png) no-repeat 0 0;
	width: 16px;
	height: 16px;
	display:block;
	text-indent:-5000px;
	margin-left: 9px;
}
.selNone {
	background: url(../images/deselect.png) no-repeat center center !important;
}
.ColorSetInfo {
	background: url(../images/link.png) no-repeat 0 0;
	width: 16px;
	height: 16px;
	display:block;
	text-indent:-5000px;
	margin-left:10px;
	position:relative;
	top:-4px !important;
	display:inline-block
}
