div.note h3 {
    color: #555555;
    margin-top: 5px;
    margin-bottom: 2px;
}

div.ok {
    background-color: #D0F3CE;
    color: #009900 !important;
}

div.unsupported {
    background-color: #ff9999;
}
div.update {
    background-color: #FBE3E4;
}

#version_info_container {
    background: #efefef;
    padding: 1em;
    margin: 1em auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    max-width: 700px;
}

#version_info_table {
    border: 0px solid gray;
}

#version_info_table td {
    padding: 3px 10px 3px;
}

#version_info_table .label {
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
    color: #fff;
    vertical-align: baseline;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #999;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.version {
    font-weight: bold;
    color: #333300;
}

.version-status {
    color: #666666;
    font-style: italic;
}

form {
    text-align: center;
}

.submit {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-color: #D16700;
    display:block;
    height:45px;
    margin:auto;
    padding:0 5px 0 40px;
    cursor: pointer;
    font-size: 12px;
    text-align: left;
}

#updateform .submit {
    background: url(../images/paramsIcon.png) no-repeat 5px center #FF7E00;
}

#requeryform .submit {
    background: url(../images/sync.png) no-repeat 5px center #FF7E00;
}

.submit:hover {
    background-color: #EF7600 !important;
    border-color: #BF5E00 !important;
}
